* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffffda;
}

:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --purple-100: #8284FA;
  --purpleDark-200: #5E60CE;
  --blue-500: #4EA8DE;
  --blueDark-700: #1E6F9F;

  --red-500: #f75a68;
  
}

body {
  background: #1A1A1A;
}
